- title "Invites"

%table
  %tr
    %th Email
    %th User
    %th Idea
    %th Can edit
    %th Token
    %th Expires at
  - for invite in @invites
    %tr
      %td= invite.email
      %td= invite.user_id
      %td= invite.idea_id
      %td= invite.can_edit
      %td= invite.token
      %td= invite.expires_at
      %td= link_to 'Show', invite
      %td= link_to 'Edit', edit_invite_path(invite)
      %td= link_to 'Destroy', invite, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Invite", new_invite_path
