- title "Ideas"

- content_for :placeholder do
  .new_idea
    = link_to "+ New Idea", new_idea_path, :class => "button green large" 

- @ideas.each do |idea|
  .idea
    .col.name= link_to idea.name, idea_sections_path(idea)
    .col.settings= link_to "Settings", edit_idea_path(idea)
    .col.members= link_to "Members", edit_idea_path(idea)
    .col.progress{:title => idea.state}
      %span.meter.candy{:style => "width: #{get_progress(idea)}%"}
      .text= idea.state
    

