- comment ||= @comment

.comment
  .icon
    = gravatar_image_tag(comment.user.email.gsub('spam', 'jlippiner'), :alt => current_user.name, :gravatar => { :default => :identicon })
  .col
    .name= comment.user.name
    .date= comment.created_at
    - if comment.user == current_user && comment.created_at + 15.minutes > Time.now 
      .trash= link_to "Delete", comment, :method => :delete, :remote => true, :confirm => "Are you sure you want to delete this comment", :title => "This comment becomes permenant in #{pluralize(minutes_till_permanent(comment),'minute')}"
    .clear  
    .content= RedCloth.new(comment.content).to_html.html_safe