= "#{@member.user.name},"
\
= "You have been removed from the #{@member.idea.name} ideation plan."
\
= "If you have any questions, please contact #{@member.idea.owner.name}, the idea owner."
\
\
Sorry,
\
\
\
GetIdeating.com
\
\------------------------------
powered by GetIdeating.com
\------------------------------
