= semantic_form_for [@idea, @section] do |f|
  = f.inputs do
    = f.input :name
    = f.input :description, :hint => "This will help others understand the purpose of this section so keep it short and to the point.  You might also want to provide examples." 
  = f.buttons do
    = f.commit_button :button_html => {:class => "button big round blue"}