- title @idea.name
- subtitle @idea.description

.horizontal-line

.one-fourth
  = render 'layouts/left_nav'

.inner-content.last    
  - if wizard?
    = render 'wizard_overview'

  - else 
    #section_list
      - @sections.each do |section|
        %div{:class => section.name}
          = render :partial => section

  .horizontal-line

  .comments
    %h5= "#{pluralize(@comments.count, 'Comment')} About the Idea"

  .comments_list
    = render @comments

  .comment_new
    = render :partial => 'comment_new', :locals => {:form_url => [@idea, @comment], :data_comment_list_path => idea_comments_path(@idea)}  
