- title "Idea: #{@section.idea.name}"

.one-fourth
  = render 'layouts/left_nav'

.inner-content.last    
  .version.current
    = render :partial => @section

  - if wizard? 
    .wizard_controls
      - if next_section
        = link_to "#{next_section.name} >> ", section_path(next_section, :wizard => true), :class => 'next button dark-blue round'
      - else
        = link_to "<< #{prev_section.name}", section_path(prev_section, :wizard => true), :class => 'next button dark-blue round'

  .horizontal-line

  .comments
    %h5= "#{pluralize(@comments.count, 'Comment')} About the #{@section.name}"

  .comments_list
    = render @comments

  %a{:name => "comment_new"}
  .comment_new
    = render :partial => 'comment_new', :locals => {:form_url => [@section, @comment], :data_comment_list_path => section_comments_path(@section)}  