- title "Idea: #{@section.idea.name}"

.version.current
  = render :partial => @section, :locals => {:show_author => true}

.comments_list
  = render @comments

.comment_new
  .comment
    .icon
      = gravatar_image_tag(current_user.email.gsub('spam', 'mdeering'), :alt => current_user.name)
    .col
      %b Leave a comment...
      .text
        .header
          Format text with Textile 
          = link_to "(help with Textile)", "http://www.textism.com/tools/textile/", :target => "_blank" 
        = form_for [@section, @comment], :remote => true, :html => {'data-comment-list' => url_for(section_comments_path(@section))}  do |f|
          = f.text_area :content, :required => true
          .controls
            = link_to "Cancel", '#', :class => "cancel button small"
            = f.submit "Add this Comment"
    
