Hi,
\
= "#{@user.name} has accepted your invitation to:"
\
= "#{@invite.idea.name}: #{@invite.idea.description}"
\
\
You can visit the one page plan at:
\
= idea_sections_url(@invite.idea)
\
\
Happy Ideating,
\
\
\
Josh
GetIdeating.com
\
\------------------------------
powered by GetIdeating.com
\------------------------------
