.version.previous
  .icon
    = gravatar_image_tag(current_user.email.gsub('spam', 'mdeering'), :alt => current_user.name)
  .col
    .num= "Version #{@versions.count - version_counter}"
    - if version_counter > 0 
      .revert= link_to "revert", revert_version_path(version), :confirm => "Are you sure you want to revert to this version?"
    .name= version.user.name
    .date= version.updated_at
    .text= version.content.blank? ? '(content removed)' : version.content.html_safe