- title "Idea: #{@section.idea.name}"

.version.current
  = render 'sections/section', :locals => {:section => @section}
  .author
    = "#{@section.user.email} updated the #{@section.name} on #{@section.updated_at}" 