- title "Versions"

%table
  %tr
    %th Section
    %th Content
    %th User
  - for version in @versions
    %tr
      %td= version.section_id
      %td= version.content
      %td= version.user_id
      %td= link_to 'Show', version
      %td= link_to 'Edit', edit_version_path(version)
      %td= link_to 'Destroy', version, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Version", new_version_path
