- idea = @sections.first.idea

#left_nav
  %ul.simple-nav
    - @sections.each do |section|
      %li
        - if section == @section && !(params[:body_action] == 'index')
          = link_to section.name, section, :class => 'on'
        - else
          = link_to section.name, section
          .nav_stats
            %span.ui-icon.ui-icon-comment{:title => pluralize(section.comments.count, 'comment'), 'data-href' => section_path(section)}
            %span.ui-icon.ui-icon-document{:title => pluralize(section.versions.count, 'version'), 'data-href' => section_versions_path(section)}

  = link_to "One Page Plan", idea_sections_path(@sections.first.idea), :class => 'button small round light-blue'

  .member_list
    %h5 Members
    %ul.simple-nav
      - idea.members.each do |member|
        %li
          = member.user.name
          - if member.is_owner?
            = " (Owner)"
      - if idea.owner == current_user
        %li= link_to "+ Invite", idea_members_path(idea)
