- idea = @sections.first.idea

#left_nav
  %ul.simple-nav
    %li.all_sections
      = link_to "All Sections", idea_sections_path(@sections.first.idea), :class => "#{controller.action_name == 'index' ? 'on' : ''}"
    - @sections.each do |section|
      %li
        - if section == @section && !(params[:body_action] == 'index')
          = link_to section.name, section, :class => 'on'
        - else
          = link_to section.name, section
          .nav_stats
            %span.ui-icon.ui-icon-comment{:title => pluralize(section.comments.count, 'comment'), 'data-href' => section_path(section)}
            %span.ui-icon.ui-icon-document{:title => pluralize(section.versions.count, 'version'), 'data-href' => section_versions_path(section)}
    - if current_user.owns?(idea)
      %li.add_section
        = link_to "+ Add Custom Section", new_idea_section_path(idea)

  .member_list.nav_item
    %div{:class => "ui-icon ui-icon-person", }
    %h5= link_to "Members", idea_members_path(idea)
    %ul.simple-nav
      - idea.members.each do |member|
        %li
          = member.user.name
          - if member.is_owner?
            = " (Owner)"
      - idea.invites.each do |invite|
        %li
          = "#{invite.email} - invited #{invite.created_at.strftime('%Y-%m-%d')}"
      - if idea.owner == current_user
        %li.invite
          = link_to "+ Invite", idea_members_path(idea)


  .nav_item
    %div{:class => "ui-icon ui-icon-star", }
    %h5= link_to "Private URL", '#', :title => "Anyone with this URL can view your plan.  Share it with investors, partners, clients, whoever." 

    .share{:title => "Click to copy to clipboard"}= public_url(idea.token)

  .nav_item
    %div{:class => "ui-icon ui-icon-gear", }
    %h5= link_to "Idea Settings", edit_idea_path(idea)
  
  