!!!
%html

  %head
    %title
      = yield(:title) + " | "
      = "GetIdeated.com | Focus. Plan. Dream. Do."
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    %link{:href => "/favicon.png", :rel => "shortcut icon", :type => "image/gif"}
    = render 'layouts/head'
    = stylesheet_link_tag "application"
    = javascript_include_tag :application
    = csrf_meta_tag
    = yield(:head)
    

  %body{:class => "#{controller.controller_name} #{controller.action_name}", 'data-action' => controller.action_name}     
    #wrapper
      .center
        #container
          #header
            = link_to image_tag('logo.png'), root_url
            #user_nav         
              - if user_signed_in?
                .top_nav
                  = link_to "+ New Idea", new_idea_path
                  = link_to "View Ideas", ideas_path

                Signed in as 
                = link_to current_user.name, edit_user_registration_path(current_user)
                \. Not you?
                = link_to "Sign out", destroy_user_session_path, :method => :delete
              - else
                = render 'layouts/main_navigation'

            - if user_signed_in?
              #breadcrumbs.one
                = render_breadcrumbs


          #content
            #flash.one
              - flash.each do |name, msg|
                = content_tag :div, msg, :id => "flash_#{name}", :class => "flash_message" 
                
            - if show_title? 
              #page_header.one
                .titles
                  - if show_title?
                    %h1.title= yield(:title)

                  - if show_subtitle?
                    %h3.subtitle= yield(:subtitle)

                .placeholder
                  = yield(:placeholder)

            .one
              = yield

            .one.horizontal-line
            - unless user_signed_in?
              = render 'layouts/footer'
            = render 'layouts/copyright'

      

      