- @members ||= idea.members.all; @invitations ||= idea.invites.not_expired

- @members.each do |member|
  .member
    .col.name= member.user.name
    - if !member.is_owner? || member.user == current_user
      .col.remove
        = link_to "remove", member, :method => :delete, :class => "remove button red small", :confirm => "Are you sure you want to remove this user from the idea?" 
    - else
      .col.block
        &nbsp;
    .col.status{:class => "#{member.is_owner? ? 'owner' : ''}"}= member.status

- unless @invitations.empty?
  #invitations
    %h3 Invites
    - @invitations.each do |invite|
      .invite
        .col.name= invite.email
        .col.invited_on
          invited On
          = invite.created_at.strftime('%Y-%m-%d')
        .col.uninvite
          = link_to "uninvite", invite, :method => :delete, :class => "uninvite button red small", :confirm => "Are you sure you want to uninvite this user?" 
        .col.resend
          = link_to "resend", resend_invite_path(invite), :class => "resend button dark-blue small"
