- @members ||= idea.members.all; @invitations ||= idea.invites.not_expired

- @members.each do |member|
  .member
    .col.name= member.user.name
    - unless member.is_owner?
      .col.remove
        = link_to "remove", member, :class => "remove button small"
    - else
      .col.block
        &nbsp;
    .col.status{:class => "rounded small #{member.is_owner? ? 'green' : ''}"}= member.status

- unless @invitations.empty?
  #invitations
    %h3 Invites
    - @invitations.each do |invite|
      .invite
        .col.name= invite.email
        .col.invited_on
          invited On
          = invite.created_at.strftime('%Y-%m-%d')
        .col.uninvite
          = link_to "uninvite", invite, :class => "uninvite button small"
