- title "Member"

%p
  %strong User:
  = @member.user_id
%p
  %strong Idea:
  = @member.idea_id
%p
  %strong Can Edit:
  = @member.can_edit

%p
  = link_to "Edit", edit_member_path(@member)
  |
  = link_to "Destroy", @member, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", members_path
